<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - MVC48 Clean Web App</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
